/**
 * Module helper that loads all of the site specific modules.  This might be overkill, but in an attempt to keep things
 * orderly, we will be separating out all of the modules in separate partials.
 */

@import "inputs";
@import "gallery";
@import "resume";
@import "resume_education";
@import "resume_skills";
@import "call_to_action";

.page-article {
  margin-top: 2em;
}

.aside-image {

  & .image {
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    background-size: cover;
    background-position: center center;
  }
}