/**
 * Work History Items
 *
 * Each item in the work history is listed as an <li> within an ordered list.
 *
 * @markup
   <li class="experience">
     <!-- The inner article wrapper -->
     <article className="experience-article">

       <!-- Header is offset to the left with a time-line style connector -->
       <header className="experience-header">
         <h2 className="headline">{ item.name }</h2>
         <h3 className="subheadline">{ item.title }</h3>
       </header>

       <!-- Body is to the right of the header section -->
       <div className="experience-body">
         <p className="mod-no-margin">{ item.summary }</p>
       </div>

     </article>
   </li>
 */

// List of experiences
.experiences {
  position: relative;

  &::before {
    content: "";
    height: 100%;
    border-left: 1px solid $color5;
    position: absolute;
    left: 0.5em;
    top: 0.25em;
  }
}

.experience {
  list-style-type: none;
  position: relative;
  margin-top: 1em;

  &:last-of-type .experience-article {
    margin-bottom: 0;
  }

  &-article {
    margin-bottom: 5em;
    display: inline-block;
  }

  &-header {
    padding-left: 2em;
    position: relative;

    &::before {
      content: "";
      width: 1em;
      height: 1em;
      top: 0.25em;
      display: block;
      border-radius: 100%;
      position: absolute;
      left: 0;
      background: $color5;
    }
  }

  &-body {

  }

}

@media only screen and (max-width: 767px) {
  .experience-body {
    padding-left: 2em;
    margin-top: 2em;
  }
}