/**
 * Work History Items
 *
 * Each item in the work history is listed as an <li> within an ordered list.
 *
 * @markup
   <li class="experience">
     <!-- The inner article wrapper -->
     <article className="experience-article">

       <!-- Header is offset to the left with a time-line style connector -->
       <header className="experience-header">
         <h2 className="headline">{ item.name }</h2>
         <h3 className="subheadline">{ item.title }</h3>
       </header>

       <!-- Body is to the right of the header section -->
       <div className="experience-body">
         <p className="mod-no-margin">{ item.summary }</p>
       </div>

     </article>
   </li>
 */

// List of experiences
.experiences {
  position: relative;

  &::before {
    // Need al ine to connect the dots
  }
}

.experience {
  list-style-type: none;
  position: relative;

  &-article {
    display: flex;
  }

  &-header {

    &::before {
      // The little dot and such
    }
  }

  &-body {

  }

}