.type {

  &-title {
    font: normal 3.9em/1.28em $font-title;
  }

  &-subtitle {
    font: normal 1.6em/1.28em $font-title;
  }

  &-headline {

  }

  &-subheadline {

  }

  &-secondary {

  }

}

p {
  margin-top: 1em;
}